<h1>Our Featured Item!!</h1>
<p>You need to buy this:</p>
<h1><%= @featured_item.name %>:  <%= @featured_item.description %></h1>


<p>All Widgets:</p>
<% @widgets.each do |widget| %>
	<%= render 'device', :device => widget.name %>
<% end %>